.calculator {
  width: 250px;
  margin: 50px auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.calculator input[type="text"] {
  width: calc(100%);
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #e8e4e4;
  border-radius: 3px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}
